@font-face {font-family: 'iconfont';
    src: url('/recourse/fonts/iconfont.eot'); /* IE9*/
    src: url('/recourse/fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/recourse/fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('/recourse/fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('/recourse/fonts/iconfont.svg#svgFontName') format('svg'); /* iOS 4.1- */
}
body { background: url(/img/fuck.png) repeat 0 0;} 
.iconfont{font-family:"iconfont";font-size:16px;font-style:normal;}

.iconfont:hover 
{font-size:100px;}